# Semana 07
Anthony Gabriel Bailon Villugas

Temas:
    1. Numeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de Datos por el Teclado
    5. Operadores

5. Operadores

In [2]:
#5.1 Operadores aritmeticos
# se tiene: +, - , *, /, **, %, //

In [4]:
numero1 =10
numero2= 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1*numero2
division = numero1/numero2
residuo =  numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [5]:
#5.2 Operaciones de asignacion
#se tiene: =, +=, -=, /=, **=
numero = 5
numero = numero + 3
print (numero)

8

In [6]:
#la operacion anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [7]:
#lo mismo se puede hacer con todos los casos, incluso la potencia
#veamos otro ejemplo:
numero=5
numero = numero ** 3
print(numero)

125

In [8]:
#la operacion anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [9]:
#5.3 operaciones de comparacion
# se tiene: ==, !=, <, <=, >=,

In [10]:
#ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [11]:
#con las cadenas funciona igual
nombre1 ="juan"
nombre2 = "juan"
nombre1 == nombre2

True

In [12]:
#5.4 operadores logicos
#se tiene and, or, not
numero1= 5
numero2 = 6
numero3 = 7
numero4 = 8

In [13]:
numero1<numero2

True

In [14]:
not(numero1<numero2)

False

In [15]:
numero1<numero2 and numero3<numero4

True

In [16]:
#tambien puedes utilizar parentesis para ordenar tu operacion
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [17]:
#5.5 operaciones de pertenencia
# se tiene: in, not in

In [18]:
#miremos un ejemplo
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [19]:
#¿Diego está en aula?
alumno1 in aula

False

In [20]:
#¿Juan esta en aula?
alumno2 in aula

True

In [21]:
#¿Diego no esta en aula?
alumno1 not in aula

True

In [22]:
#¿Juan no esta en aula?
alumno2 not in aula

False

In [23]:
#5.6 Operadores de identidad
# se tiene: is , is not

In [24]:
aula1= ["Juan", "Daniel", "Ruben"]
aula2= ["Juan", "Daniel", "Ruben"]
#Acontinuacion vamos a indicar que aula3 va a 
# compartir el mismo objeto que aula1
aula3=aula1

In [25]:
#¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [26]:
#¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [27]:
aula1.append("Diego")

In [28]:
#al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [29]:
#AL IMPRIMIR LOS LISTA DEL AULA2 SE OBSERVA
print(aula2)

['Juan', 'Daniel', 'Ruben']