# Semana 07
Anthony Gabriel Bailon Villugas

Temas:
    1. Numeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de Datos por el Teclado
    5. Operadores

3. Manejo de Cadenas

In [1]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [2]:
#Universidad Tecnologica de Lima Sur
#01234......
#

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
#tambien consideramos los espacios
cadena[11]

' '

In [6]:
#¿que nos mostrara?
cadena[-5]

'a'

In [7]:
cadena[21]

'T'

In [8]:
#tambien lo puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [9]:
# para mostrar una subcadena [desde. hasta una antes]
# en java era substring()
cadena[3:8]

'versi'

In [10]:
#para saber el tamaño de una cadena utilizaremos len()
#incluye espacios de blanca
len(cadena)

44

In [11]:
#para mostrar una cadena en mayusculas utilizaremos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [12]:
#ojo.....solo lo muestra, por que el original sigue

In [13]:
#para mostrar una cadena en minucula utilizaremos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [14]:
#generar una lista a partir de una cadena. split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [16]:
#genrar una lista utilizando un criterio de separacion a partir de una caden. split()
#en este caso vamos a generar una lista de toda la cadena,
#utilizando como criterio de separacion la letra "A"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [17]:
#Forma clasica, concatenar con +
nombre="Anthony Bailon Villugas"
print("Buenos dias" + nombre)

Buenos diasAnthony Bailon Villugas

In [19]:
#utilizando el .format()
nombre = "Anthony Bailon"
edad = 27
print("hola {} ya se que tienes {} años".format(nombre,edad))

hola Anthony Bailon ya se que tienes 27 años

In [22]:
#dar formato a numeros con muchos decimales
resultado =10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f} ".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [23]:
#dar formato f
#la funcion f, esta disponible desde la version 3.6
nombre = "Anthony Bailon"
edad = 27
print(f"buenos dias {nombre}, ya se que tienes {edad} años")

buenos dias Anthony Bailon, ya se que tienes 27 años

In [25]:
#dar formato a numeros con muchos decimales con f
resultado =10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.333