# Semana 07
Anthony Gabriel Bailon Villugas

Temas:
    1. Numeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de Datos por el Teclado
    5. Operadores

2. Variables

In [2]:
#Siempre deben iniciar con una letra o un guion abajo. (nunca con un numero u otro simbolo)

In [3]:
edad = 41

In [4]:
edad

41

In [5]:
nombre = "Anthony"

In [6]:
nombre

'Anthony'

In [7]:
apellido = "Bailon Villugas"

In [8]:
apellido

'Bailon Villugas'

In [9]:
nombreCompleto = nombre + apellido

In [10]:
nombreCompleto

'AnthonyBailon Villugas'

In [11]:
nombreCompleto = nombre + " " + apellido
nombreCompleto

'Anthony Bailon Villugas'

In [12]:
# para saber el tipo de variable utilizaremos la funcion type()
# por ejemplo
numero = 50
type(numero)

int

In [13]:
type(nombre)

str

In [14]:
talla = 1.75
talla

1.75

In [15]:
type(talla)

float

In [16]:
#para convertir un numero en cadena utilizaremos str()
numero = 100
cadena =str(numero)
cadena

'100'

In [17]:
type(cadena)

str

In [18]:
#para converir una cadena en un entero utilizaremos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [20]:
#para convertir una cadena en un decimal utilizaremos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [21]:
type(numero2)

float